<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Harish's Portfolio</title>
  <meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Harish Kunta | Software Engineer</title>
<meta name="description" content="I'm a Student at University of Cincinnati.
                Self-learner, Smart Working, Organized and Dedicated to everything I do.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link href="favicon.ico" rel="shortcut icon">
<link rel="icon" type="image/png" href="https://i.ibb.co/st82PYm/614u-LSe3-QKL-UL1500.jpg" sizes="32x32" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700|Montserrat:400,700"><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'><link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
<body>
	<!-- START PRELOADER -->
	<div id="preloader">
		<div id="status">&nbsp;</div>
	</div>
	<!-- END PRELOADER -->
	<!-- Return to Top -->
	<a href="javascript:" id="return-to-top"><span class="fa fa-arrow-up" aria-hidden="true"></span></a>
	<!-- navigation -->
	<!-- start Fixed navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for mobile display http://marinamarques.pt/img/marina_marques_logo.png -->
			<div class="navbar-header">
				<a class="navbar-brand" href="#about">
					<img alt="Harish Kunta" class="navbar-brand" src="https://i.ibb.co/st82PYm/614u-LSe3-QKL-UL1500.jpg" alt="Harish Kunta">
				</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ResponsiveNav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right" id="ResponsiveNav">
				<ul class="nav navbar-nav">
					<li><a href="#about-me" class="page-scroll">About</a></li>
					<li><a href="#experience" class="page-scroll">Education</a></li>					
					<li><a href="#portfolio" class="page-scroll">Portfolio</a></li>
					<li><a href="#contact" class="page-scroll">Contact</a></li>
				</ul>
			</div>
			<!-- end collapse -->
		</div>
		<!-- end container fluid -->
	</nav>
	<!-- end navigation -->
	<!-- intro header -->
	<header class="intro">
		<div class="intro-body">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<!-- start typer hello  -->
						<div class="brand-heading">
							<span class="txt-rotate" data-period="100" data-rotate='[ "Hello,", "Olá,", "Hallo,", "Salut,", "Ciao,", "Hola,", "Hej," ]'></span>
						</div>
						<!-- end typer hello -->
						<p class="intro-text">I'm Harish Kunta.
							<br> I welcome <span class="fa fa-code" aria-hidden="true"></span> <span class="intro-text-hgl">new challenges</span> <span class="fa fa-code" aria-hidden="true"></span>
							<br>It helps me <span class="city">Keep Going!</span> </p>
						<!-- start mouse wrap -->
						<div class="mouse-warp">
							<a href="#mouse-here" class="page-scroll">
								<div class="mouse">
									<div class="scroll"></div>
								</div>
							</a>
						</div>
						<!-- end mouse wrap -->
					</div>
					<!-- end column wrapping -->
				</div>
				<!-- end row header -->
			</div>
			<!-- end container header -->
		</div>
		<!-- end intro body -->
	</header>
	<!-- end intro header -->
	<div id="mouse-here"></div>
	<!-- only for mouse to fall before the start of the section -->
	<!-- start about me -->
	<section id="about-me">
		<div class="container">
			<div class="row">
				<h2>A Little about me..</h2>
				<div class="col-lg-6 about-intro">
					<div class="about-inner">
						<div class="about-ct">
							<img src="https://i.ibb.co/JC7GXvd/IMG-0065.jpg" alt="Marina Marques" class="img-responsive">
							<div class="textbox-about hidden-xs">
								<div class="btn button-social">
									<a href="https://www.facebook.com/harish.tannu1" target="_blank" alt="Facebook profile"><span class="fa fa-facebook" aria-hidden="true"></span></a>
									<a href="https://www.linkedin.com/in/harish-kunta-24576290/" alt="LinkedIn profile" target="_blank"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
									<a href="https://github.com/harishtanu007" target="_blank" alt="GitHub profile"><span class="fa fa-github" aria-hidden="true"></span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 about-intro-text">
					
					<p>I'm a <span>Passionate </span> <span>Technology enthusiast.</span><br> 
						<br>
						Currently pursuing Master’s in computer science in Georgia State University with work experience in NCR Corporation as Software Engineer (Android, iOS Developer and Chief Consultant for Mobile Shopper), 2+ years of professional experience in developing both Native(Android and iOS) and Cross-platform Applications using Xamarin(C#) in NCR. Launched 3 Android applications in Google Play store and freelanced 1 Android application. Interested in devising a better problem-solving method for challenging tasks, and learning new technologies and tools for adapting myself to new technical trends.
						<br>
						<br>
						Turning ideas into reality is something that I always try to do. I always say <span>"YES"</span> to coding, teaching, shopping, and traveling.
						<br>
						<br>
						I love working with people to make things that make a difference. <br>
						<br>
						Here's to building castles with code!
						<span class="fa fa-beer" aria-hidden="true"></span></p>
					<div class="button-group">
						<div class="text">Download CV</div>
						<div class="icon-cv"><a href="https://www.docdroid.net/40ZfOMB/harish-kunta-resume-pdf" alt="Harish Kunta Resume" target="_blank"><span class="fa fa-arrow-circle-down" aria-hidden="true"></span></a></div>
					</div>
				</div>
			</div>
			<!-- end row about -->
		</div>
		<!-- end container about -->
		<!-- start count stats -->
		<section id="counter-stats">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 stats">
						<span class="fa fa-code" aria-hidden="true"></span>
						<div class="counter" data-count="20000">0</div>
						<h5>Lines of code</h5>
					</div>
					<div class="col-lg-3 stats">
						<span class="fa fa-check" aria-hidden="true"></span>
						<div class="counter" data-count="5">0</div>
						<h5>Projects done</h5>
					</div>
					<div class="col-lg-3 stats">
						<span class="fa fa-user" aria-hidden="true"></span>
						<div class="counter" data-count="24">0</div>
						<h5>Happy clients</h5>
					</div>
					<div class="col-lg-3 stats">
						<span class="fa fa-coffee" aria-hidden="true"></span>
						<div class="counter" data-count="999">0</div>
						<h5>Cups of coffee</h5>
					</div>
				</div>
				<!-- end row counter stats -->
			</div>
			<!-- end container counter stats -->
		</section>
		<!-- end cont stats -->
	</section>
	<!-- end about me -->
	<!-- start work experience -->
	<section id="experience">
		<div class="container">
			<h2>Education</h2>
			<div class="experience-ct">
				<div class="row">
					<div class="col-md-6 timeline-label">
						<h4>Courses</h4>
						<p>Big Data Programming, Data Structures, Advanced Algorithms, Java, Cloud Computing, Database Theory, Machine Learning, Web Technologies, Mobile Application </p>
						
					</div>
					<div class="col-md-6 timeline col-exp">
						<div class="timeline-year">
							<time datetime="2019">2019</time>
							<div class="timeline-experience">
								<span class="timeline-circle"></span>
								<div class="timeline-experience-img"><img src="https://commkit.gsu.edu/files/2019/07/logostack2colorreverse.jpg" alt="Georgia State University"></div>
								<div class="timeline-experience-info clear-after">
									<h5>Georgia State University</h5>
									<div class="timeline-role">Masters in Computer Science</div>
									<div class="timeline-role">3.75 GPA</div>
									<p>January 2020 – Present</p>
								</div>
								<!-- experience-info -->
							</div>
							<!-- experience -->
							<time datetime="2017">2017</time>
							<div class="timeline-experience">
								<span class="timeline-circle"></span>
								<div class="timeline-experience-img"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a2/Jawaharlal_Nehru_Technological_University%2C_Hyderabad_cover.jpg/220px-Jawaharlal_Nehru_Technological_University%2C_Hyderabad_cover.jpg" alt="JNTU H"></div>
								<div class="timeline-experience-info clear-after">
									<h5>Jawaharlal Nehru Technological University</h5>
									<div class="timeline-role">Bachelors in Technology</div>
									<div class="timeline-role">3.8 GPA</div>
									<p>August 2013 – June 2017</p>
								</div>
								<!-- experience-info -->
							</div>
							<!-- experience -->
						</div>
						<!-- year -->
						
						<!-- year -->
					</div>
				</div>
				<!-- end row of two columns -->
			</div>
			<!-- end experience container of two columns -->
		</div>
		<!-- end container experience -->
	</section>
	<section id="experience">
		<div class="container">
			<h2>Experience</h2>
			<div class="experience-ct">
				<div class="row">
					<div class="col-md-6 timeline-label">
						<h4>Core Technologies</h4>
						<p>Java, AngularJS, Spring MVC, Java Script, jQuery, Dialogflow, NLP</p>
						<a href="https://www.linkedin.com/in/harish-kunta-24576290/" alt="LinkedIn profile" target="_blank">
							<div class="button-group-li">
								<div class="text-timeline">View on LinkedIn</div>
								<div class="icon-li"><span class="fa fa-linkedin" aria-hidden="true"></span></div>
							</div>
						</a>
					</div>
					<div class="col-md-6 timeline col-exp">
						<div class="timeline-year">
							<time datetime="2019">2019</time>
							<div class="timeline-experience">
								<span class="timeline-circle"></span>
								<div class="timeline-experience-img"><img src="https://media-exp1.licdn.com/dms/image/C4E0BAQFKs7xig9mB7Q/company-logo_200_200/0?e=2159024400&v=beta&t=tvjKGIbqxz41r7jnJd-vrAYAVZLn2sqFkTZlak5TVz4" alt="BNP Paribas"></div>
								<div class="timeline-experience-info clear-after">
									<h5>NCR Corporation</h5>
									<div class="timeline-role">Software Engineer</div>
									<p>July 2017 – December 2019</p>
								</div>
								<!-- experience-info -->
							</div>
							<!-- experience -->
						</div>
						
						<!-- year -->
					</div>
				</div>
				<!-- end row of two columns -->
			</div>
			<!-- end experience container of two columns -->
		</div>
		<!-- end container experience -->
	</section>
	<!-- end work experience -->
	<!-- start work portfolio -->

	
	

	
	<!-- end services -->

	
	<!-- start footer -->
	<footer id="contact">
		<div class="container">
			<div class="row">
				<h2>Contact</h2>
				<p>harishtanu007@gmail.com</p>
				<p>+1 678-696-9619</p>
				<br>
				<div class="social">
					<a href="https://www.facebook.com/harish.tannu1" target="_blank" alt="Facebook profile"><span class="fa fa-facebook" aria-hidden="true"></span></a>
					<a href="https://www.linkedin.com/in/harish-kunta-24576290/" target="_blank" alt="LinkedIn profile"><span class="fa fa-linkedin" aria-hidden="true"></i></a>
					<a href="https://github.com/harishtanu007" target="_blank" alt="GitHub profile"><span class="fa fa-github" aria-hidden="true"></span></a>
				</div>
				
			</div>
			<!-- end row contact -->
		</div>
		<!-- end container footer section -->
	</footer>
	<!-- end footer -->
</body>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://shvvffle.github.io/js/jquery.easing.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script><script  src="/script/script.js"></script>

</body>
</html>
